<template>
  <div>
    <b-container class="vertical-center mt-3">
      <h1>Vending Machine</h1>
      <div class="d-flex mt-5">
        <div>
          <div class="card-deck">
            <b-card v-for="product in products" v-bind:key="product.index"
              v-bind:title="product.name + ' (' + product.quantityAvailable + ')'"
              v-bind:img-src="product.imageUrl"
              v-bind:img-alt="product.name"
              img-top
              tag="article"
              style="min-width: 150px;"
              v-bind:class="{'selected' : selectedProduct && selectedProduct.id === product.id }">
              <b-button href="#" variant="success" v-on:click="selectProduct(product)" :disabled="purchaseInProgress">{{product.priceInCents | centsToEuro}}</b-button>
            </b-card>
          </div>
        </div>
        <div class="px-3">
          <div class="lcd">
            <p v-bind:class="{'blink-me': blinkLCD}">{{screen}}</p>
          </div>
          <div class="info mt-3">
            <p>Available Coins</p>
            <b-button v-for="coinValue in availableCoins" v-bind:key="coinValue.index" 
              href="#" 
              variant="warning" 
              v-on:click="insertCoin(coinValue)"
              class="btn btn-warning circle mt-3 mr-3"
              :disabled="purchaseInProgress">{{ coinValue | cents }}</b-button>
              <b-button href="#" variant="primary" class="mt-3" v-on:click="cancel()" :disabled="purchaseInProgress">Cancel</b-button>
          </div>
            <div class="info mt-3">
              <p>Inserted Coins</p>
              <span v-for="coin in insertedCoins"  v-bind:key="coin.index" class="btn btn-info circle mt-3 mr-3">{{coin | cents}}</span>
            </div>
            <div class="info mt-3">
              <p>Returned Coins</p>
              <span v-for="coin in returnedCoins"  v-bind:key="coin.index" class="btn btn-info circle mt-3 mr-3">{{coin | cents}}</span>
            </div>
        </div>
      </div>
    </b-container>  
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch  } from "vue-property-decorator";
import axios from "axios";

import { IProduct } from "../models/product";
import { IPurchase } from "../models/purchase";
import { ScreenState } from "../models/screen.state";


Vue.filter("centsToEuro", (value: number): string => {
  return `${(value/100).toFixed(2)}€`;
});

Vue.filter("cents", (value: number): string => {
  return value >= 100 ? `${value/100}€`: `${value}c`;
});

@Component
export default class VendingMachine extends Vue {
  // TODO: use env config for that
  private apiUrl = "https://vending-machine-api.azurewebsites.net/vending-machine";

  private products: Array<IProduct> = []; 
  private availableCoins: Array<number> = [];
  private selectedProduct: IProduct | null = null;
  private insertedCoins: Array<number> = [];
  private returnedCoins: Array<number> = [];

  private purchaseInProgress = false;

  private blinkLCD = true;
  private screenState = ScreenState.None;

  public insertCoin(value: number): void {
    this.insertedCoins.push(value);
    this.returnedCoins = [];
  }
  public selectProduct(product: IProduct): void {
    if(product.quantityAvailable > 0 ){
      this.selectedProduct = product;
    } 
    else {
      this.selectedProduct = null;
    }
    this.setTimedState(ScreenState.ProductSelected);
  }
  public cancel(): void {
    this.reset();
    this.returnedCoins = [];
  }
  private reset(): void {
    this.selectedProduct = null;
    this.insertedCoins = [];
  }
  public setTimedState(screenState: ScreenState): void {
      this.screenState =  screenState;
      setTimeout(() => this.screenState = ScreenState.None, 2000);
  }
  get credit(): number {
    return this.insertedCoins.reduce((a, b) => a + b, 0);
  }
  get remainingAmount(): number {
    return this.selectedProduct ? this.selectedProduct.priceInCents - this.credit: 0;
  }
  get enoughCredit(): boolean {
    return this.selectedProduct ? this.selectedProduct.priceInCents <= this.credit : false;
  }
  get screen(): string {
       
    if(this.screenState === ScreenState.ProductSelected) {
      if(this.selectedProduct && this.credit > 0 && !this.enoughCredit) {
        this.blinkLCD = true;
        return "Insufficient amount";
      }

      if(!this.selectedProduct) {
        this.blinkLCD = true;
        return "Out of stock";
      }  

      if(this.selectedProduct) {
        this.blinkLCD = false;
        return `${this.selectedProduct.name} - ${Vue.filter("centsToEuro")(this.selectedProduct.priceInCents)}`;
      }
    }

    if(this.purchaseInProgress) {
      this.blinkLCD = true;
      return "PROCESSING...";
    }
    
    if(this.screenState === ScreenState.PurchaseComplete) {
      this.blinkLCD = true;
      return "Thank you for making me rich!";
    } 

    if(this.selectedProduct && !this.enoughCredit) {
      this.blinkLCD = false;
      return `Please insert: ${Vue.filter("centsToEuro")(this.remainingAmount)}`;
    } 

    if(this.credit > 0) {
      this.blinkLCD = false;
      return `Your credit: ${Vue.filter("centsToEuro")(this.credit)}`;
    } 
    
    this.blinkLCD = true;
    return "Insert Coin";
  }
  @Watch("enoughCredit")
  private makeAutomaticPurchase(isEnoughCredit: true): void {
    if(isEnoughCredit && this.selectedProduct) {
      const payload = { productId: this.selectedProduct.id, insertedCoins: this.insertedCoins } as IPurchase;
      this.purchaseInProgress = true;
      axios.post(this.apiUrl, payload)
        .then(response => {               
          this.products = response.data.products;
          this.returnedCoins = response.data.returnedCoins;
          this.reset();
          console.log(response.data.wallet);
          this.purchaseInProgress = false;
          this.setTimedState(ScreenState.PurchaseComplete);
      }).catch(error => {
        console.log(error.response);
         // TODO: that would need some proper error handling and logging
      });  
    }
  }
  mounted() {
    axios.get(this.apiUrl)
      .then(response => {
        this.products = response.data.products;
        this.availableCoins = response.data.availableCoins;
    });      
  }
}
</script>
<style>
  .lcd,.info {
    border: 1px dashed; 
    width: 300px;
    padding: 1em;
  }
  .info {
    border: 1px dotted; 
  }
  .card-body {
    text-align: center;
    padding: 0.5em;
  }
  .card.selected {
    background-color: lightyellow;
  }
  .card h4 {
    font-size: 0.75em;
  }

  .circle { 
    width: 50px;
    height: 50px;
    padding: 10px!important;
    border-radius: 35px!important;
    font-size: 24px;
    line-height: 1.33;
  } 
  .blink-me {
    animation: blinker 1s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
</style>